<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Harish I & Sathiyan R" />
    <meta name="description" content="Shackles is a national-level technical symposium. We're a dedicated group promoting excellence in mechanical engineering. Our event offers technical presentations, workshops, networking, competitions, and idea discussions. Join us to gain insights, expand your skills, connect with peers and professionals, and be inspired by the latest innovations. Whether you're a student or educator, come explore the frontiers of mechanical engineering with us." />
    <link href="./styles/index.css" rel="stylesheet" />
    <link href="./styles/navbar.css" rel="stylesheet" />
    <link href="./styles/forms.css" rel="stylesheet" />
    <link href="./styles/general.css" rel="stylesheet" />
    <link href="./styles/eventdesc.css" rel="stylesheet" />

    <link rel="icon" href="./pictures/mechaso.webp" type="image/x-icon">

    <title>Shackles 2024</title>
  </head>
  <body>
    <div class="navbar">
      <nav class="nav">
        <a class="nav-header" href="#">
          <div class="nav-title">
            <img
              class="nav_logo"
              src="./pictures/shackles.webp"
              alt=""
              srcset=""
            />
          </div>
        </a>

        <ul class="nav-list">
          <li class="nav_item"><a class="nav_link" href="#">Home</a></li>
          <li class="nav_item"><a class="nav_link" href="#">Events</a></li>
          <li class="nav_item"><a class="nav_link" href="#">Workshops</a></li>
          <li class="nav_item"><a class="nav_link" href="#">Contact</a></li>
        </ul>

        <div class="nav_kebab_cont" id="kebab">
          <div class="nav_kebab_round"></div>
          <div class="nav_kebab_round"></div>
          <div class="nav_kebab_round"></div>
        </div>
      </nav>

      <div class="nav_drop_section nav_drop_close_action" id="nav_drop">
        <div class="nav_drop_close_cont">
          <div class="nav_drop_close" id="nav_close">
            <div class="nav_close_line line_1"></div>
            <div class="nav_close_line line_2"></div>
          </div>
        </div>
        <ul class="nav_drop_list">
          <li class="nav_drop_item">
            <a class="nav_drop_link" href="#">HOME</a>
          </li>
          <li class="nav_drop_item">
            <a class="nav_drop_link" href="#">EVENTS</a>
          </li>
          <li class="nav_drop_item">
            <a class="nav_drop_link" href="#">WORKSHOPS</a>
          </li>
          <li class="nav_drop_item">
            <a class="nav_drop_link" href="#">CONTACT US</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content_holder">
      <div class="horz_div"></div>
      <div class="black_border_cont">
        <div class="event_content">

          <div class="event_header">
            <div class="event_pic_holder">
              <img class="event_pic" src="./pictures/drone_hunt.webp"/>
            </div>
            <div class="event_heading">DRONE HUNT</div>
          </div>

          <div class="event_desc">
            <div class="event_desc_head">DESCRIPTION</div>
            <p class="event_desc_para">Embark on an exhilarating adventure with the Drone Hunt Challenge! Compete against skilled pilots in a thrilling race to track and capture elusive drones. Navigate through obstacles, showcase your precision, and demonstrate strategic prowess to emerge victorious. Join us for an adrenaline-fuelled experience like no other!</p>
            <div class="event_desc_head">RULES</div>
            <div class="event_desc_list_holder">
              <ul class="event_desc_list">
                <li class="event_desc_points">Size of the drone must be 600 mm x 600 mm.</li>
                <li class="event_desc_points">Maximum permissible weight for the drones 250 grams (If you have the valid licence). </li>
                <li class="event_desc_points">Launch pad will be provided for the drone.</li>
                <li class="event_desc_points">The time the time count will be commences at the starting of the drone from the launch pad.</li>
                <li class="event_desc_points">The drone must cross the 10-hindrance provided in between the launchpad and the end point and return back to the launchpad.</li>
                <li class="event_desc_points">If the drone fails to complete the 10 hindrances, it must start from the beginning of the launch pad but the time will be counted in account.</li>
                <li class="event_desc_points">Only one person is allowed to operate the drone from the starting to the end of event.</li>
                <li class="event_desc_points">Mobilisation of the drone in between the event will leads to disqualification.</li>
                <li class="event_desc_points">The participant will be given a  trial before commencement of the actual event.</li>
                <li class="event_desc_points">Judges' decision shall be treated as final and binding on all.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form_holder">
          <div class="form_head">REGISTER HERE!</div>
          <form class="form_cont">
            <div class="form_sub_field">
              <!-- <div class="sub_field_head">Member 1</div> -->
              <div class="form_inp form_anomoly">
                <label class="field_name">INSTITUTION NAME</label>
                <input class="form_input_box input_anomoly" type="text" />
              </div>
              <div class="form_inp form_anomoly">
                <label class="field_name">TEAM NAME</label>
                <input class="form_input_box input_anomoly" type="text" />
              </div>
            </div>
            <div class="form_flex">
              <div class="form_sub_field">
                <div class="sub_field_head">MEMBER 1</div>
                <div class="form_inp">
                  <label class="field_name">NAME</label>
                  <input class="form_input_box" type="text" />
                </div>
                <div class="form_inp">
                  <label class="field_name">EMAIL</label>
                  <input class="form_input_box" type="email" />
                </div>
                <div class="form_inp">
                  <label class="field_name">MOBILE</label>
                  <input class="form_input_box" type="text" />
                </div>
              </div>
              <div class="form_sub_field">
                <div class="sub_field_head">MEMBER 2</div>
                <div class="form_inp">
                  <label class="field_name">NAME</label>
                  <input class="form_input_box" type="text" />
                </div>
                <div class="form_inp">
                  <label class="field_name">EMAIL</label>
                  <input class="form_input_box" type="email" />
                </div>
                <div class="form_inp">
                  <label class="field_name">MOBILE</label>
                  <input class="form_input_box" type="text" />
                </div>
              </div>
            </div>
            <div class="form_flex">
              <div class="form_sub_field">
                <div class="sub_field_head">MEMBER 3</div>
                <div class="form_inp">
                  <label class="field_name">NAME</label>
                  <input class="form_input_box" type="text" />
                </div>
                <div class="form_inp">
                  <label class="field_name">EMAIL</label>
                  <input class="form_input_box" type="email" />
                </div>
                <div class="form_inp">
                  <label class="field_name">MOBILE</label>
                  <input class="form_input_box" type="text" />
                </div>
              </div>
              <div class="form_sub_field">
                <div class="sub_field_head">MEMBER 4</div>
                <div class="form_inp">
                  <label class="field_name">NAME</label>
                  <input class="form_input_box" type="text" />
                </div>
                <div class="form_inp">
                  <label class="field_name">EMAIL</label>
                  <input class="form_input_box" type="email" />
                </div>
                <div class="form_inp">
                  <label class="field_name">MOBILE</label>
                  <input class="form_input_box" type="text" />
                </div>
              </div>
            </div>
            <button class="form_submit_button" type="submit">SUBMIT</button>
          </form>
        </div>

        <div class="queries_holder">
          <div class="event_desc_head query_head">FOR QUERIES</div>
          <div class="query_list_holder">
            <div class="query_item">
              <div class="query_icon_holder">
                <img src="./pictures/telephone.webp" class="query_icon"/>
              </div>
              <a href="tel:+919361417528" class="query_content q_phone_no">+919361417528</a>
              <a href="tel:+917094875920" class="query_content q_phone_no">+917094875920</a>
              <!-- <a href="tel:+916382853181" class="query_content q_phone_no">+916382853181</a> -->
            </div>
            <a href="mailto:kavipriyasarasu@gmail.com" class="query_item q_mail">
              <div class="query_icon_holder">
                <img src="./pictures/mail.webp" class="query_icon"/>
              </div>
              <div class="query_content q_email">shacklesacgcet2024@gmail.com</div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/nav.js"></script>
  </body>
</html>
