<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Harish I & Sathiyan R" />
    <meta name="description" content="Shackles is a national-level technical symposium. We're a dedicated group promoting excellence in mechanical engineering. Our event offers technical presentations, workshops, networking, competitions, and idea discussions. Join us to gain insights, expand your skills, connect with peers and professionals, and be inspired by the latest innovations. Whether you're a student or educator, come explore the frontiers of mechanical engineering with us." />
    <link href="./styles/index.css" rel="stylesheet" />
    <link href="./styles/navbar.css" rel="stylesheet" />
    <link href="./styles/forms.css" rel="stylesheet" />
    <link href="./styles/general.css" rel="stylesheet" />
    <link href="./styles/eventdesc.css" rel="stylesheet" />

    <link rel="icon" href="./pictures/mechaso.webp" type="image/x-icon">

    <title>Shackles 2024</title>
  </head>
  <body>
    <div class="navbar">
      <nav class="nav">
        <a class="nav-header" href="#">
          <div class="nav-title">
            <img
              class="nav_logo"
              src="./pictures/shackles.webp"
              alt=""
              srcset=""
            />
          </div>
        </a>

        <ul class="nav-list">
          <li class="nav_item"><a class="nav_link" href="#">Home</a></li>
          <li class="nav_item"><a class="nav_link" href="#">Events</a></li>
          <li class="nav_item"><a class="nav_link" href="#">Workshops</a></li>
          <li class="nav_item"><a class="nav_link" href="#">Contact</a></li>
        </ul>

        <div class="nav_kebab_cont" id="kebab">
          <div class="nav_kebab_round"></div>
          <div class="nav_kebab_round"></div>
          <div class="nav_kebab_round"></div>
        </div>
      </nav>

      <div class="nav_drop_section nav_drop_close_action" id="nav_drop">
        <div class="nav_drop_close_cont">
          <div class="nav_drop_close" id="nav_close">
            <div class="nav_close_line line_1"></div>
            <div class="nav_close_line line_2"></div>
          </div>
        </div>
        <ul class="nav_drop_list">
          <li class="nav_drop_item">
            <a class="nav_drop_link" href="#">HOME</a>
          </li>
          <li class="nav_drop_item">
            <a class="nav_drop_link" href="#">EVENTS</a>
          </li>
          <li class="nav_drop_item">
            <a class="nav_drop_link" href="#">WORKSHOPS</a>
          </li>
          <li class="nav_drop_item">
            <a class="nav_drop_link" href="#">CONTACT US</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content_holder">
      <div class="horz_div"></div>
      <div class="black_border_cont">
        <div class="event_content">

          <div class="event_header">
            <div class="event_pic_holder">
              <img class="event_pic" src="./pictures/water.webp"/>
            </div>
            <div class="event_heading">WATER<br/>ROCKETRY</div>
          </div>

          <div class="event_desc">
            <div class="event_desc_head">DESCRIPTION</div>
            <p class="event_desc_para">The Water Rocketry Challenge is a thrilling competition where teams of aspiring engineers and rocket enthusiasts showcase their ingenuity, teamwork, and passion for exploration, combining physics, engineering, and creativity in a splashy spectacle.</p>
            <div class="event_desc_head">RULES</div>
            <div class="event_desc_list_holder">
              <ul class="event_desc_list">
                <li class="event_desc_points">A team can only consist of one or two participants.</li>
                <li class="event_desc_points">Participants are only permitted to use pressure-resistant plastic bottles or pressure-tested ones, such as carbonated-drink bottles.</li>
                <li class="event_desc_points">The bottle can be adorned with optional accessories such as (fins and nose cones).</li>
                <li class="event_desc_points">If the teams' models are determined to be unsafe in any manner, they will either be rejected (No glass or sharp objects should be used in making the rockets. Use of electronic components and chemical explosives is banned.)</li>
                <li class="event_desc_points">While multiple bottles are not permitted, a bottle's maximum capacity should be 2.5 litres.</li>
                <li class="event_desc_points">The rocket's only source of energy can be the combination of air pressure and water.</li>
                <li class="event_desc_points">There can be no other energy source.</li>
                <li class="event_desc_points">Water and hand pumps will be provided. The hand pumps are appropriate for both the bicycles and bike valves.</li>
                <li class="event_desc_points">Rocket Launching pads will be provided.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form_holder">
          <div class="form_head">REGISTER HERE!</div>
          <form class="form_cont">
            <div class="form_sub_field">
              <!-- <div class="sub_field_head">Member 1</div> -->
              <div class="form_inp form_anomoly">
                <label class="field_name">INSTITUTION NAME</label>
                <input class="form_input_box input_anomoly" type="text" />
              </div>
              <div class="form_inp form_anomoly">
                <label class="field_name">TEAM NAME</label>
                <input class="form_input_box input_anomoly" type="text" />
              </div>
            </div>
            <div class="form_flex">
              <div class="form_sub_field">
                <div class="sub_field_head">MEMBER 1</div>
                <div class="form_inp">
                  <label class="field_name">NAME</label>
                  <input class="form_input_box" type="text" />
                </div>
                <div class="form_inp">
                  <label class="field_name">EMAIL</label>
                  <input class="form_input_box" type="email" />
                </div>
                <div class="form_inp">
                  <label class="field_name">MOBILE</label>
                  <input class="form_input_box" type="text" />
                </div>
              </div>
              <div class="form_sub_field">
                <div class="sub_field_head">MEMBER 2</div>
                <div class="form_inp">
                  <label class="field_name">NAME</label>
                  <input class="form_input_box" type="text" />
                </div>
                <div class="form_inp">
                  <label class="field_name">EMAIL</label>
                  <input class="form_input_box" type="email" />
                </div>
                <div class="form_inp">
                  <label class="field_name">MOBILE</label>
                  <input class="form_input_box" type="text" />
                </div>
              </div>
            </div>
            <button class="form_submit_button" type="submit">SUBMIT</button>
          </form>
        </div>

        <div class="queries_holder">
          <div class="event_desc_head query_head">FOR QUERIES</div>
          <div class="query_list_holder">
            <div class="query_item">
              <div class="query_icon_holder">
                <img src="./pictures/telephone.webp" class="query_icon"/>
              </div>
              <a href="tel:+919361417528" class="query_content q_phone_no">+919361417528</a>
              <a href="tel:+919789370516" class="query_content q_phone_no">+919789370516</a>
            </div>
            <a href="mailto:kavipriyasarasu@gmail.com" class="query_item q_mail">
              <div class="query_icon_holder">
                <img src="./pictures/mail.webp" class="query_icon"/>
              </div>
              <div class="query_content q_email">shacklesacgcet2024@gmail.com</div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/nav.js"></script>
  </body>
</html>
